/* Общие стили */
body {
    font-family: 'Anton', sans-serif;
    background: linear-gradient(to right, #f4f4f9, #e9ecef);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для header */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

/* Стили для main */
main {
    flex: 1;
    padding: 150px 0 20px; /* Добавлен отступ сверху для размещения под фиксированным хедером */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.container .content {
    text-align: justify;
}

/* Стили для footer */
footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
    text-align: center;
    position: relative; /* Позиционирование для правильного размещения текста внутри footer */
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Дополнительные стили, включая адаптивность */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}
