body {
    font-family: 'Anton', sans-serif;
    background: linear-gradient(to right, #f4f4f9, #e9ecef);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 24px;
    text-decoration: none; /* Remove underline */
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header h1 {
    margin: 0;
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 20px;
}

.hero-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 100px;
    border-radius: 16px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gender-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.centered {
    text-align: center;
    margin: 20px 0;
}

.gender-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gender-list li {
    margin: 0;
    flex: 1 1 calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.gender-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.gender-list li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gender-list li a:hover {
    color: #007BFF;
}

.gender-button {
    display: block;
    width: 300px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.gender-button:hover {
    background-color: #ccc;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

main {
    flex: 1;
    padding: 100px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

